// General
$general-padding:                         10px;
$general-area-padding:                    20px;
$general-aside-width:                     300px;
$general-header-height:                   60px;

$general-element-gap:                     10px;

// Form
$input-base-padding:                      10px;
$input-base-height:                       40px;
$input-radius:                            0;

$select-menu-max-height:                  200px;

$checkbox-size:                           24px;

// Grid
$gutter-width:                            10px;
