i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error:before {
  content: "\e900";
}
.error_outline:before {
  content: "\e901";
}
.warningreport_problem:before {
  content: "\e902";
}
.add_alert:before {
  content: "\e903";
}
.notification_important:before {
  content: "\e904";
}
.album:before {
  content: "\e905";
}
.av_timer:before {
  content: "\e906";
}
.closed_caption:before {
  content: "\e907";
}
.equalizer:before {
  content: "\e908";
}
.explicit:before {
  content: "\e909";
}
.fast_forward:before {
  content: "\e90a";
}
.fast_rewind:before {
  content: "\e90b";
}
.gamesgamepad:before {
  content: "\e90c";
}
.hearing:before {
  content: "\e90d";
}
.high_quality:before {
  content: "\e90e";
}
.loopsync:before {
  content: "\e90f";
}
.mic:before {
  content: "\e910";
}
.mic_none:before {
  content: "\e911";
}
.mic_off:before {
  content: "\e912";
}
.moviemovie_creation:before {
  content: "\e913";
}
.library_addqueueadd_to_photos:before {
  content: "\e914";
}
.library_books:before {
  content: "\e915";
}
.library_music:before {
  content: "\e916";
}
.new_releases:before {
  content: "\e917";
}
.not_interesteddo_not_disturb:before {
  content: "\e918";
}
.pause:before {
  content: "\e919";
}
.pause_circle_filled:before {
  content: "\e91a";
}
.pause_circle_outline:before {
  content: "\e91b";
}
.play_arrow:before {
  content: "\e91c";
}
.play_circle_filled:before {
  content: "\e91d";
}
.play_circle_outline:before {
  content: "\e91e";
}
.playlist_add:before {
  content: "\e91f";
}
.queue_music:before {
  content: "\e920";
}
.radio:before {
  content: "\e921";
}
.recent_actors:before {
  content: "\e922";
}
.repeat:before {
  content: "\e923";
}
.repeat_one:before {
  content: "\e924";
}
.replay:before {
  content: "\e925";
}
.shuffle:before {
  content: "\e926";
}
.skip_next:before {
  content: "\e927";
}
.skip_previous:before {
  content: "\e928";
}
.snooze:before {
  content: "\e929";
}
.stop:before {
  content: "\e92a";
}
.subtitles:before {
  content: "\e92b";
}
.surround_sound:before {
  content: "\e92c";
}
.video_collection:before {
  content: "\e92d";
}
.videocam:before {
  content: "\e92e";
}
.videocam_off:before {
  content: "\e92f";
}
.volume_down:before {
  content: "\e930";
}
.volume_mute:before {
  content: "\e931";
}
.volume_off:before {
  content: "\e932";
}
.volume_up:before {
  content: "\e933";
}
.web:before {
  content: "\e934";
}
.hd:before {
  content: "\e935";
}
.sort_by_alpha:before {
  content: "\e936";
}
.airplay:before {
  content: "\e937";
}
.forward_10:before {
  content: "\e938";
}
.forward_30:before {
  content: "\e939";
}
.forward_5:before {
  content: "\e93a";
}
.replay_10:before {
  content: "\e93b";
}
.replay_30:before {
  content: "\e93c";
}
.replay_5:before {
  content: "\e93d";
}
.add_to_queue:before {
  content: "\e93e";
}
.fiber_dvr:before {
  content: "\e93f";
}
.fiber_new:before {
  content: "\e940";
}
.playlist_play:before {
  content: "\e941";
}
.art_track:before {
  content: "\e942";
}
.fiber_manual_record:before {
  content: "\e943";
}
.fiber_smart_record:before {
  content: "\e944";
}
.music_video:before {
  content: "\e945";
}
.subscriptions:before {
  content: "\e946";
}
.playlist_add_check:before {
  content: "\e947";
}
.queue_play_next:before {
  content: "\e948";
}
.remove_from_queue:before {
  content: "\e949";
}
.slow_motion_video:before {
  content: "\e94a";
}
.web_asset:before {
  content: "\e94b";
}
.fiber_pin:before {
  content: "\e94c";
}
.branding_watermark:before {
  content: "\e94d";
}
.call_to_action:before {
  content: "\e94e";
}
.featured_play_list:before {
  content: "\e94f";
}
.featured_video:before {
  content: "\e950";
}
.note:before {
  content: "\e951";
}
.video_call:before {
  content: "\e952";
}
.video_label:before {
  content: "\e953";
}
.4k:before {
  content: "\e954";
}
.missed_video_call:before {
  content: "\e955";
}
.control_camera:before {
  content: "\e956";
}
.businessdomain:before {
  content: "\e957";
}
.call:before {
  content: "\e958";
}
.call_end:before {
  content: "\e959";
}
.call_made:before {
  content: "\e95a";
}
.call_mergemerge_type:before {
  content: "\e95b";
}
.call_missed:before {
  content: "\e95c";
}
.call_received:before {
  content: "\e95d";
}
.call_split:before {
  content: "\e95e";
}
.chat:before {
  content: "\e95f";
}
.clear_all:before {
  content: "\e960";
}
.comment:before {
  content: "\e961";
}
.contacts:before {
  content: "\e962";
}
.dialer_sip:before {
  content: "\e963";
}
.dialpad:before {
  content: "\e964";
}
.emailmailmarkunreadlocal_post_office:before {
  content: "\e965";
}
.forumquestion_answer:before {
  content: "\e966";
}
.import_export:before {
  content: "\e967";
}
.invert_colors_off:before {
  content: "\e968";
}
.live_help:before {
  content: "\e969";
}
.location_off:before {
  content: "\e96a";
}
.location_onplaceroom:before {
  content: "\e96b";
}
.message:before {
  content: "\e96c";
}
.chat_bubble:before {
  content: "\e96d";
}
.chat_bubble_outline:before {
  content: "\e96e";
}
.no_simsignal_cellular_no_sim:before {
  content: "\e96f";
}
.phonelocal_phone:before {
  content: "\e970";
}
.portable_wifi_off:before {
  content: "\e971";
}
.contact_phone:before {
  content: "\e972";
}
.contact_mail:before {
  content: "\e973";
}
.ring_volume:before {
  content: "\e974";
}
.speaker_phone:before {
  content: "\e975";
}
.stay_current_landscapestay_primary_landscape:before {
  content: "\e976";
}
.stay_current_portraitstay_primary_portraitsmartphone:before {
  content: "\e977";
}
.swap_calls:before {
  content: "\e978";
}
.textsmssms:before {
  content: "\e979";
}
.voicemail:before {
  content: "\e97a";
}
.vpn_key:before {
  content: "\e97b";
}
.phonelink_erase:before {
  content: "\e97c";
}
.phonelink_lock:before {
  content: "\e97d";
}
.phonelink_ring:before {
  content: "\e97e";
}
.phonelink_setup:before {
  content: "\e97f";
}
.present_to_all:before {
  content: "\e980";
}
.import_contacts:before {
  content: "\e981";
}
.mail_outline:before {
  content: "\e982";
}
.screen_share:before {
  content: "\e983";
}
.stop_screen_share:before {
  content: "\e984";
}
.call_missed_outgoing:before {
  content: "\e985";
}
.rss_feed:before {
  content: "\e986";
}
.alternate_email:before {
  content: "\e987";
}
.mobile_screen_share:before {
  content: "\e988";
}
.add_call:before {
  content: "\e989";
}
.cancel_presentation:before {
  content: "\e98a";
}
.pause_presentation:before {
  content: "\e98b";
}
.unsubscribe:before {
  content: "\e98c";
}
.cell_wifi:before {
  content: "\e98d";
}
.sentiment_satisfied_alt:before {
  content: "\e98e";
}
.list_alt:before {
  content: "\e98f";
}
.domain_disabled:before {
  content: "\e990";
}
.lightbulb:before {
  content: "\e991";
}
.add:before {
  content: "\e992";
}
.add_box:before {
  content: "\e993";
}
.add_circle:before {
  content: "\e994";
}
.add_circle_outlinecontrol_point:before {
  content: "\e995";
}
.archive:before {
  content: "\e996";
}
.backspace:before {
  content: "\e997";
}
.block:before {
  content: "\e998";
}
.clearclose:before {
  content: "\e999";
}
.content_copy:before {
  content: "\e99a";
}
.content_cut:before {
  content: "\e99b";
}
.content_paste:before {
  content: "\e99c";
}
.createmode_editedit:before {
  content: "\e99d";
}
.drafts:before {
  content: "\e99e";
}
.filter_list:before {
  content: "\e99f";
}
.flagassistant_photo:before {
  content: "\e9a0";
}
.forward:before {
  content: "\e9a1";
}
.gesture:before {
  content: "\e9a2";
}
.inbox:before {
  content: "\e9a3";
}
.linkinsert_link:before {
  content: "\e9a4";
}
.redo:before {
  content: "\e9a5";
}
.remove:before {
  content: "\e9a6";
}
.remove_circledo_not_disturb_on:before {
  content: "\e9a7";
}
.remove_circle_outline:before {
  content: "\e9a8";
}
.reply:before {
  content: "\e9a9";
}
.reply_all:before {
  content: "\e9aa";
}
.report:before {
  content: "\e9ab";
}
.save:before {
  content: "\e9ac";
}
.select_all:before {
  content: "\e9ad";
}
.send:before {
  content: "\e9ae";
}
.sort:before {
  content: "\e9af";
}
.text_format:before {
  content: "\e9b0";
}
.undo:before {
  content: "\e9b1";
}
.font_download:before {
  content: "\e9b2";
}
.move_to_inbox:before {
  content: "\e9b3";
}
.unarchive:before {
  content: "\e9b4";
}
.next_week:before {
  content: "\e9b5";
}
.weekend:before {
  content: "\e9b6";
}
.delete_sweep:before {
  content: "\e9b7";
}
.low_priority:before {
  content: "\e9b8";
}
.outlined_flag:before {
  content: "\e9b9";
}
.link_off:before {
  content: "\e9ba";
}
.report_off:before {
  content: "\e9bb";
}
.save_alt:before {
  content: "\e9bc";
}
.ballot:before {
  content: "\e9bd";
}
.file_copy:before {
  content: "\e9be";
}
.how_to_reg:before {
  content: "\e9bf";
}
.how_to_vote:before {
  content: "\e9c0";
}
.waves:before {
  content: "\e9c1";
}
.where_to_vote:before {
  content: "\e9c2";
}
.add_link:before {
  content: "\e9c3";
}
.inventory:before {
  content: "\e9c4";
}
.access_alarmalarm:before {
  content: "\e9c5";
}
.access_alarms:before {
  content: "\e9c6";
}
.access_timequery_builderschedule:before {
  content: "\e9c7";
}
.add_alarmalarm_add:before {
  content: "\e9c8";
}
.airplanemode_inactive:before {
  content: "\e9c9";
}
.airplanemode_activeflightlocal_airport:before {
  content: "\e9ca";
}
.battery_alert:before {
  content: "\e9cb";
}
.battery_charging_full:before {
  content: "\e9cc";
}
.battery_fullbattery_std:before {
  content: "\e9cd";
}
.battery_unknown:before {
  content: "\e9ce";
}
.bluetooth:before {
  content: "\e9cf";
}
.bluetooth_connected:before {
  content: "\e9d0";
}
.bluetooth_disabled:before {
  content: "\e9d1";
}
.bluetooth_searchingbluetooth_audio:before {
  content: "\e9d2";
}
.brightness_auto:before {
  content: "\e9d3";
}
.brightness_highbrightness_7:before {
  content: "\e9d4";
}
.brightness_lowbrightness_5:before {
  content: "\e9d5";
}
.brightness_mediumbrightness_6:before {
  content: "\e9d6";
}
.data_usage:before {
  content: "\e9d7";
}
.developer_mode:before {
  content: "\e9d8";
}
.devicesphonelink:before {
  content: "\e9d9";
}
.dvr:before {
  content: "\e9da";
}
.gps_fixedmy_location:before {
  content: "\e9db";
}
.gps_not_fixedlocation_searching:before {
  content: "\e9dc";
}
.gps_offlocation_disabled:before {
  content: "\e9dd";
}
.graphic_eq:before {
  content: "\e9de";
}
.network_cell:before {
  content: "\e9df";
}
.network_wifi:before {
  content: "\e9e0";
}
.nfc:before {
  content: "\e9e1";
}
.now_wallpaper:before {
  content: "\e9e2";
}
.now_widgets:before {
  content: "\e9e3";
}
.screen_lock_landscape:before {
  content: "\e9e4";
}
.screen_lock_portrait:before {
  content: "\e9e5";
}
.screen_lock_rotation:before {
  content: "\e9e6";
}
.screen_rotation:before {
  content: "\e9e7";
}
.sd_storagesd_card:before {
  content: "\e9e8";
}
.settings_system_daydream:before {
  content: "\e9e9";
}
.signal_cellular_4_bar:before {
  content: "\e9ea";
}
.signal_cellular_connected_no_internet_4_bar:before {
  content: "\e9eb";
}
.signal_cellular_null:before {
  content: "\e9ec";
}
.signal_cellular_off:before {
  content: "\e9ed";
}
.signal_wifi_4_bar:before {
  content: "\e9ee";
}
.signal_wifi_4_bar_lock:before {
  content: "\e9ef";
}
.signal_wifi_off:before {
  content: "\e9f0";
}
.storage:before {
  content: "\e9f1";
}
.usb:before {
  content: "\e9f2";
}
.wifi_lock:before {
  content: "\e9f3";
}
.wifi_tethering:before {
  content: "\e9f4";
}
.add_to_home_screen:before {
  content: "\e9f5";
}
.device_thermostat:before {
  content: "\e9f6";
}
.mobile_friendly:before {
  content: "\e9f7";
}
.mobile_off:before {
  content: "\e9f8";
}
.signal_cellular_alt:before {
  content: "\e9f9";
}
.attach_file:before {
  content: "\e9fa";
}
.attach_money:before {
  content: "\e9fb";
}
.border_all:before {
  content: "\e9fc";
}
.border_bottom:before {
  content: "\e9fd";
}
.border_clear:before {
  content: "\e9fe";
}
.border_color:before {
  content: "\e9ff";
}
.border_horizontal:before {
  content: "\ea00";
}
.border_inner:before {
  content: "\ea01";
}
.border_left:before {
  content: "\ea02";
}
.border_outer:before {
  content: "\ea03";
}
.border_right:before {
  content: "\ea04";
}
.border_style:before {
  content: "\ea05";
}
.border_top:before {
  content: "\ea06";
}
.border_vertical:before {
  content: "\ea07";
}
.format_align_center:before {
  content: "\ea08";
}
.format_align_justify:before {
  content: "\ea09";
}
.format_align_left:before {
  content: "\ea0a";
}
.format_align_right:before {
  content: "\ea0b";
}
.format_bold:before {
  content: "\ea0c";
}
.format_clear:before {
  content: "\ea0d";
}
.format_color_fill:before {
  content: "\ea0e";
}
.format_color_reset:before {
  content: "\ea0f";
}
.format_color_text:before {
  content: "\ea10";
}
.format_indent_decrease:before {
  content: "\ea11";
}
.format_indent_increase:before {
  content: "\ea12";
}
.format_italic:before {
  content: "\ea13";
}
.format_line_spacing:before {
  content: "\ea14";
}
.format_list_bulleted:before {
  content: "\ea15";
}
.format_list_numbered:before {
  content: "\ea16";
}
.format_paint:before {
  content: "\ea17";
}
.format_quote:before {
  content: "\ea18";
}
.format_size:before {
  content: "\ea19";
}
.format_strikethrough:before {
  content: "\ea1a";
}
.format_textdirection_l_to_r:before {
  content: "\ea1b";
}
.format_textdirection_r_to_l:before {
  content: "\ea1c";
}
.format_underlined:before {
  content: "\ea1d";
}
.functions:before {
  content: "\ea1e";
}
.insert_chartpollassessment:before {
  content: "\ea1f";
}
.insert_comment:before {
  content: "\ea20";
}
.insert_drive_file:before {
  content: "\ea21";
}
.insert_emoticontag_facesmood:before {
  content: "\ea22";
}
.insert_invitationevent:before {
  content: "\ea23";
}
.insert_photoimagephoto:before {
  content: "\ea24";
}
.mode_comment:before {
  content: "\ea25";
}
.publish:before {
  content: "\ea26";
}
.space_bar:before {
  content: "\ea27";
}
.strikethrough_s:before {
  content: "\ea28";
}
.vertical_align_bottom:before {
  content: "\ea29";
}
.vertical_align_center:before {
  content: "\ea2a";
}
.vertical_align_top:before {
  content: "\ea2b";
}
.wrap_text:before {
  content: "\ea2c";
}
.money_off:before {
  content: "\ea2d";
}
.drag_handle:before {
  content: "\ea2e";
}
.format_shapes:before {
  content: "\ea2f";
}
.highlight:before {
  content: "\ea30";
}
.linear_scale:before {
  content: "\ea31";
}
.short_text:before {
  content: "\ea32";
}
.text_fields:before {
  content: "\ea33";
}
.monetization_on:before {
  content: "\ea34";
}
.title:before {
  content: "\ea35";
}
.table_chart:before {
  content: "\ea36";
}
.add_comment:before {
  content: "\ea37";
}
.format_list_numbered_rtl:before {
  content: "\ea38";
}
.scatter_plot:before {
  content: "\ea39";
}
.score:before {
  content: "\ea3a";
}
.insert_chart_outlined:before {
  content: "\ea3b";
}
.bar_chart:before {
  content: "\ea3c";
}
.notes:before {
  content: "\ea3d";
}
.attachment:before {
  content: "\ea3e";
}
.cloud:before {
  content: "\ea3f";
}
.cloud_circle:before {
  content: "\ea40";
}
.cloud_done:before {
  content: "\ea41";
}
.cloud_download:before {
  content: "\ea42";
}
.cloud_off:before {
  content: "\ea43";
}
.cloud_queue:before {
  content: "\ea44";
}
.cloud_uploadbackup:before {
  content: "\ea45";
}
.file_downloadget_app:before {
  content: "\ea46";
}
.file_upload:before {
  content: "\ea47";
}
.folder:before {
  content: "\ea48";
}
.folder_open:before {
  content: "\ea49";
}
.folder_shared:before {
  content: "\ea4a";
}
.create_new_folder:before {
  content: "\ea4b";
}
.cast:before {
  content: "\ea4c";
}
.cast_connected:before {
  content: "\ea4d";
}
.computerlaptop:before {
  content: "\ea4e";
}
.desktop_mac:before {
  content: "\ea4f";
}
.desktop_windows:before {
  content: "\ea50";
}
.developer_board:before {
  content: "\ea51";
}
.dock:before {
  content: "\ea52";
}
.headset:before {
  content: "\ea53";
}
.headset_mic:before {
  content: "\ea54";
}
.keyboard:before {
  content: "\ea55";
}
.keyboard_arrow_down:before {
  content: "\ea56";
}
.keyboard_arrow_left:before {
  content: "\ea57";
}
.keyboard_arrow_right:before {
  content: "\ea58";
}
.keyboard_arrow_up:before {
  content: "\ea59";
}
.keyboard_backspace:before {
  content: "\ea5a";
}
.keyboard_capslock:before {
  content: "\ea5b";
}
.keyboard_hide:before {
  content: "\ea5c";
}
.keyboard_return:before {
  content: "\ea5d";
}
.keyboard_tab:before {
  content: "\ea5e";
}
.keyboard_voice:before {
  content: "\ea5f";
}
.laptop_chromebook:before {
  content: "\ea60";
}
.laptop_mac:before {
  content: "\ea61";
}
.laptop_windows:before {
  content: "\ea62";
}
.memory:before {
  content: "\ea63";
}
.mouse:before {
  content: "\ea64";
}
.phone_android:before {
  content: "\ea65";
}
.phone_iphone:before {
  content: "\ea66";
}
.phonelink_off:before {
  content: "\ea67";
}
.router:before {
  content: "\ea68";
}
.scanner:before {
  content: "\ea69";
}
.security:before {
  content: "\ea6a";
}
.sim_card:before {
  content: "\ea6b";
}
.speaker:before {
  content: "\ea6c";
}
.speaker_group:before {
  content: "\ea6d";
}
.tablet:before {
  content: "\ea6e";
}
.tablet_android:before {
  content: "\ea6f";
}
.tablet_mac:before {
  content: "\ea70";
}
.toys:before {
  content: "\ea71";
}
.tv:before {
  content: "\ea72";
}
.watch:before {
  content: "\ea73";
}
.device_hub:before {
  content: "\ea74";
}
.power_input:before {
  content: "\ea75";
}
.devices_other:before {
  content: "\ea76";
}
.videogame_asset:before {
  content: "\ea77";
}
.device_unknown:before {
  content: "\ea78";
}
.headset_off:before {
  content: "\ea79";
}
.adjust:before {
  content: "\ea7a";
}
.assistant:before {
  content: "\ea7b";
}
.audiotrack:before {
  content: "\ea7c";
}
.blur_circular:before {
  content: "\ea7d";
}
.blur_linear:before {
  content: "\ea7e";
}
.blur_off:before {
  content: "\ea7f";
}
.blur_on:before {
  content: "\ea80";
}
.brightness_1:before {
  content: "\ea81";
}
.brightness_2:before {
  content: "\ea82";
}
.brightness_3:before {
  content: "\ea83";
}
.brightness_4:before {
  content: "\ea84";
}
.broken_image:before {
  content: "\ea85";
}
.brush:before {
  content: "\ea86";
}
.camera:before {
  content: "\ea87";
}
.camera_altphoto_cameralocal_see:before {
  content: "\ea88";
}
.camera_front:before {
  content: "\ea89";
}
.camera_rear:before {
  content: "\ea8a";
}
.camera_roll:before {
  content: "\ea8b";
}
.center_focus_strong:before {
  content: "\ea8c";
}
.center_focus_weak:before {
  content: "\ea8d";
}
.collectionsphoto_library:before {
  content: "\ea8e";
}
.color_lenspalette:before {
  content: "\ea8f";
}
.colorize:before {
  content: "\ea90";
}
.compare:before {
  content: "\ea91";
}
.control_point_duplicate:before {
  content: "\ea92";
}
.crop_16_9:before {
  content: "\ea93";
}
.crop_3_2:before {
  content: "\ea94";
}
.crop:before {
  content: "\ea95";
}
.crop_5_4crop_landscape:before {
  content: "\ea96";
}
.crop_7_5:before {
  content: "\ea97";
}
.crop_din:before {
  content: "\ea98";
}
.crop_free:before {
  content: "\ea99";
}
.crop_original:before {
  content: "\ea9a";
}
.crop_portrait:before {
  content: "\ea9b";
}
.crop_square:before {
  content: "\ea9c";
}
.dehaze:before {
  content: "\ea9d";
}
.details:before {
  content: "\ea9e";
}
.exposure:before {
  content: "\ea9f";
}
.exposure_minus_1:before {
  content: "\eaa0";
}
.exposure_minus_2:before {
  content: "\eaa1";
}
.exposure_plus_1:before {
  content: "\eaa2";
}
.exposure_plus_2:before {
  content: "\eaa3";
}
.exposure_zero:before {
  content: "\eaa4";
}
.filter_1:before {
  content: "\eaa5";
}
.filter_2:before {
  content: "\eaa6";
}
.filter_3:before {
  content: "\eaa7";
}
.filter:before {
  content: "\eaa8";
}
.filter_4:before {
  content: "\eaa9";
}
.filter_5:before {
  content: "\eaaa";
}
.filter_6:before {
  content: "\eaab";
}
.filter_7:before {
  content: "\eaac";
}
.filter_8:before {
  content: "\eaad";
}
.filter_9:before {
  content: "\eaae";
}
.filter_9_plus:before {
  content: "\eaaf";
}
.filter_b_and_w:before {
  content: "\eab0";
}
.filter_center_focus:before {
  content: "\eab1";
}
.filter_drama:before {
  content: "\eab2";
}
.filter_frames:before {
  content: "\eab3";
}
.filter_hdrlandscapeterrain:before {
  content: "\eab4";
}
.filter_none:before {
  content: "\eab5";
}
.filter_tilt_shift:before {
  content: "\eab6";
}
.filter_vintage:before {
  content: "\eab7";
}
.flare:before {
  content: "\eab8";
}
.flash_auto:before {
  content: "\eab9";
}
.flash_off:before {
  content: "\eaba";
}
.flash_on:before {
  content: "\eabb";
}
.flip:before {
  content: "\eabc";
}
.gradient:before {
  content: "\eabd";
}
.grain:before {
  content: "\eabe";
}
.grid_off:before {
  content: "\eabf";
}
.grid_on:before {
  content: "\eac0";
}
.hdr_off:before {
  content: "\eac1";
}
.hdr_on:before {
  content: "\eac2";
}
.hdr_strong:before {
  content: "\eac3";
}
.hdr_weak:before {
  content: "\eac4";
}
.healing:before {
  content: "\eac5";
}
.image_aspect_ratio:before {
  content: "\eac6";
}
.iso:before {
  content: "\eac7";
}
.leak_add:before {
  content: "\eac8";
}
.leak_remove:before {
  content: "\eac9";
}
.lens:before {
  content: "\eaca";
}
.looks_3:before {
  content: "\eacb";
}
.looks:before {
  content: "\eacc";
}
.looks_4:before {
  content: "\eacd";
}
.looks_5:before {
  content: "\eace";
}
.looks_6:before {
  content: "\eacf";
}
.looks_one:before {
  content: "\ead0";
}
.looks_two:before {
  content: "\ead1";
}
.loupe:before {
  content: "\ead2";
}
.monochrome_photos:before {
  content: "\ead3";
}
.music_note:before {
  content: "\ead4";
}
.nature:before {
  content: "\ead5";
}
.nature_people:before {
  content: "\ead6";
}
.navigate_beforechevron_left:before {
  content: "\ead7";
}
.navigate_nextchevron_right:before {
  content: "\ead8";
}
.panorama:before {
  content: "\ead9";
}
.panorama_fish_eyeradio_button_unchecked:before {
  content: "\eada";
}
.panorama_horizontal:before {
  content: "\eadb";
}
.panorama_vertical:before {
  content: "\eadc";
}
.panorama_wide_angle:before {
  content: "\eadd";
}
.photo_album:before {
  content: "\eade";
}
.picture_as_pdf:before {
  content: "\eadf";
}
.portrait:before {
  content: "\eae0";
}
.remove_red_eyevisibility:before {
  content: "\eae1";
}
.rotate_90_degrees_ccw:before {
  content: "\eae2";
}
.rotate_left:before {
  content: "\eae3";
}
.rotate_right:before {
  content: "\eae4";
}
.slideshow:before {
  content: "\eae5";
}
.straighten:before {
  content: "\eae6";
}
.style:before {
  content: "\eae7";
}
.switch_camera:before {
  content: "\eae8";
}
.switch_video:before {
  content: "\eae9";
}
.texture:before {
  content: "\eaea";
}
.timelapse:before {
  content: "\eaeb";
}
.timer_10:before {
  content: "\eaec";
}
.timer_3:before {
  content: "\eaed";
}
.timer:before {
  content: "\eaee";
}
.timer_off:before {
  content: "\eaef";
}
.tonality:before {
  content: "\eaf0";
}
.transform:before {
  content: "\eaf1";
}
.tune:before {
  content: "\eaf2";
}
.view_comfortable:before {
  content: "\eaf3";
}
.view_compact:before {
  content: "\eaf4";
}
.wb_auto:before {
  content: "\eaf5";
}
.wb_cloudy:before {
  content: "\eaf6";
}
.wb_incandescent:before {
  content: "\eaf7";
}
.wb_sunny:before {
  content: "\eaf8";
}
.collections_bookmark:before {
  content: "\eaf9";
}
.photo_size_select_actual:before {
  content: "\eafa";
}
.photo_size_select_large:before {
  content: "\eafb";
}
.photo_size_select_small:before {
  content: "\eafc";
}
.vignette:before {
  content: "\eafd";
}
.wb_iridescent:before {
  content: "\eafe";
}
.crop_rotate:before {
  content: "\eaff";
}
.linked_camera:before {
  content: "\eb00";
}
.add_a_photo:before {
  content: "\eb01";
}
.movie_filter:before {
  content: "\eb02";
}
.photo_filter:before {
  content: "\eb03";
}
.burst_mode:before {
  content: "\eb04";
}
.shutter_speed:before {
  content: "\eb05";
}
.add_photo_alternate:before {
  content: "\eb06";
}
.image_search:before {
  content: "\eb07";
}
.music_off:before {
  content: "\eb08";
}
.beenhere:before {
  content: "\eb09";
}
.directions:before {
  content: "\eb0a";
}
.directions_bike:before {
  content: "\eb0b";
}
.directions_bus:before {
  content: "\eb0c";
}
.directions_car:before {
  content: "\eb0d";
}
.directions_ferry:before {
  content: "\eb0e";
}
.directions_subwaydirections_transit:before {
  content: "\eb0f";
}
.directions_railway:before {
  content: "\eb10";
}
.directions_walk:before {
  content: "\eb11";
}
.hotellocal_hotel:before {
  content: "\eb12";
}
.layers:before {
  content: "\eb13";
}
.layers_clear:before {
  content: "\eb14";
}
.local_atm:before {
  content: "\eb15";
}
.local_attractionlocal_play:before {
  content: "\eb16";
}
.local_bar:before {
  content: "\eb17";
}
.local_cafefree_breakfast:before {
  content: "\eb18";
}
.local_car_wash:before {
  content: "\eb19";
}
.local_convenience_store:before {
  content: "\eb1a";
}
.local_drink:before {
  content: "\eb1b";
}
.local_florist:before {
  content: "\eb1c";
}
.local_gas_station:before {
  content: "\eb1d";
}
.local_grocery_storeshopping_cart:before {
  content: "\eb1e";
}
.local_hospital:before {
  content: "\eb1f";
}
.local_laundry_service:before {
  content: "\eb20";
}
.local_library:before {
  content: "\eb21";
}
.local_mall:before {
  content: "\eb22";
}
.local_moviestheaters:before {
  content: "\eb23";
}
.local_offer:before {
  content: "\eb24";
}
.local_parking:before {
  content: "\eb25";
}
.local_pharmacy:before {
  content: "\eb26";
}
.local_pizza:before {
  content: "\eb27";
}
.local_print_shopprint:before {
  content: "\eb28";
}
.local_restaurantrestaurant_menu:before {
  content: "\eb29";
}
.local_shipping:before {
  content: "\eb2a";
}
.local_taxi:before {
  content: "\eb2b";
}
.location_history:before {
  content: "\eb2c";
}
.map:before {
  content: "\eb2d";
}
.navigation:before {
  content: "\eb2e";
}
.pin_drop:before {
  content: "\eb2f";
}
.rate_review:before {
  content: "\eb30";
}
.satellite:before {
  content: "\eb31";
}
.store_mall_directorystore:before {
  content: "\eb32";
}
.traffic:before {
  content: "\eb33";
}
.directions_run:before {
  content: "\eb34";
}
.add_location:before {
  content: "\eb35";
}
.edit_location:before {
  content: "\eb36";
}
.near_me:before {
  content: "\eb37";
}
.person_pin_circle:before {
  content: "\eb38";
}
.zoom_out_map:before {
  content: "\eb39";
}
.restaurant:before {
  content: "\eb3a";
}
.ev_station:before {
  content: "\eb3b";
}
.streetview:before {
  content: "\eb3c";
}
.subway:before {
  content: "\eb3d";
}
.train:before {
  content: "\eb3e";
}
.tram:before {
  content: "\eb3f";
}
.transfer_within_a_station:before {
  content: "\eb40";
}
.atm:before {
  content: "\eb41";
}
.category:before {
  content: "\eb42";
}
.not_listed_location:before {
  content: "\eb43";
}
.departure_board:before {
  content: "\eb44";
}
.360:before {
  content: "\eb45";
}
.edit_attributes:before {
  content: "\eb46";
}
.transit_enterexit:before {
  content: "\eb47";
}
.fastfood:before {
  content: "\eb48";
}
.trip_origin:before {
  content: "\eb49";
}
.compass_calibration:before {
  content: "\eb4a";
}
.money:before {
  content: "\eb4b";
}
.apps:before {
  content: "\eb4c";
}
.arrow_back:before {
  content: "\eb4d";
}
.arrow_drop_down:before {
  content: "\eb4e";
}
.arrow_drop_down_circle:before {
  content: "\eb4f";
}
.arrow_drop_up:before {
  content: "\eb50";
}
.arrow_forward:before {
  content: "\eb51";
}
.cancel:before {
  content: "\eb52";
}
.check:before {
  content: "\eb53";
}
.expand_less:before {
  content: "\eb54";
}
.expand_more:before {
  content: "\eb55";
}
.fullscreen:before {
  content: "\eb56";
}
.fullscreen_exit:before {
  content: "\eb57";
}
.menu:before {
  content: "\eb58";
}
.keyboard_control:before {
  content: "\eb59";
}
.more_vert:before {
  content: "\eb5a";
}
.refresh:before {
  content: "\eb5b";
}
.unfold_less:before {
  content: "\eb5c";
}
.unfold_more:before {
  content: "\eb5d";
}
.arrow_upward:before {
  content: "\eb5e";
}
.subdirectory_arrow_left:before {
  content: "\eb5f";
}
.subdirectory_arrow_right:before {
  content: "\eb60";
}
.arrow_downward:before {
  content: "\eb61";
}
.first_page:before {
  content: "\eb62";
}
.last_page:before {
  content: "\eb63";
}
.arrow_left:before {
  content: "\eb64";
}
.arrow_right:before {
  content: "\eb65";
}
.arrow_back_ios:before {
  content: "\eb66";
}
.arrow_forward_ios:before {
  content: "\eb67";
}
.adb:before {
  content: "\eb68";
}
.disc_full:before {
  content: "\eb69";
}
.do_not_disturb_alt:before {
  content: "\eb6a";
}
.drive_etatime_to_leave:before {
  content: "\eb6b";
}
.event_available:before {
  content: "\eb6c";
}
.event_busy:before {
  content: "\eb6d";
}
.event_note:before {
  content: "\eb6e";
}
.folder_special:before {
  content: "\eb6f";
}
.mms:before {
  content: "\eb70";
}
.more:before {
  content: "\eb71";
}
.network_locked:before {
  content: "\eb72";
}
.phone_bluetooth_speaker:before {
  content: "\eb73";
}
.phone_forwarded:before {
  content: "\eb74";
}
.phone_in_talk:before {
  content: "\eb75";
}
.phone_locked:before {
  content: "\eb76";
}
.phone_missed:before {
  content: "\eb77";
}
.phone_paused:before {
  content: "\eb78";
}
.sim_card_alert:before {
  content: "\eb79";
}
.sms_failedfeedback:before {
  content: "\eb7a";
}
.sync_disabled:before {
  content: "\eb7b";
}
.sync_problem:before {
  content: "\eb7c";
}
.system_update:before {
  content: "\eb7d";
}
.tap_and_play:before {
  content: "\eb7e";
}
.vibration:before {
  content: "\eb7f";
}
.voice_chat:before {
  content: "\eb80";
}
.vpn_lock:before {
  content: "\eb81";
}
.airline_seat_flat:before {
  content: "\eb82";
}
.airline_seat_flat_angled:before {
  content: "\eb83";
}
.airline_seat_individual_suite:before {
  content: "\eb84";
}
.airline_seat_legroom_extra:before {
  content: "\eb85";
}
.airline_seat_legroom_normal:before {
  content: "\eb86";
}
.airline_seat_legroom_reduced:before {
  content: "\eb87";
}
.airline_seat_recline_extra:before {
  content: "\eb88";
}
.airline_seat_recline_normal:before {
  content: "\eb89";
}
.confirmation_number:before {
  content: "\eb8a";
}
.live_tv:before {
  content: "\eb8b";
}
.ondemand_video:before {
  content: "\eb8c";
}
.personal_video:before {
  content: "\eb8d";
}
.power:before {
  content: "\eb8e";
}
.wc:before {
  content: "\eb8f";
}
.wifi:before {
  content: "\eb90";
}
.enhanced_encryption:before {
  content: "\eb91";
}
.network_check:before {
  content: "\eb92";
}
.no_encryption:before {
  content: "\eb93";
}
.rv_hookup:before {
  content: "\eb94";
}
.do_not_disturb_off:before {
  content: "\eb95";
}
.priority_high:before {
  content: "\eb96";
}
.power_off:before {
  content: "\eb97";
}
.tv_off:before {
  content: "\eb98";
}
.wifi_off:before {
  content: "\eb99";
}
.phone_callback:before {
  content: "\eb9a";
}
.pie_chart:before {
  content: "\eb9b";
}
.pie_chart_outlined:before {
  content: "\eb9c";
}
.bubble_chart:before {
  content: "\eb9d";
}
.multiline_chart:before {
  content: "\eb9e";
}
.show_chart:before {
  content: "\eb9f";
}
.cake:before {
  content: "\eba0";
}
.grouppeople:before {
  content: "\eba1";
}
.group_add:before {
  content: "\eba2";
}
.location_city:before {
  content: "\eba3";
}
.mood_bad:before {
  content: "\eba4";
}
.notifications:before {
  content: "\eba5";
}
.notifications_none:before {
  content: "\eba6";
}
.notifications_off:before {
  content: "\eba7";
}
.notifications_active:before {
  content: "\eba8";
}
.notifications_paused:before {
  content: "\eba9";
}
.pages:before {
  content: "\ebaa";
}
.party_mode:before {
  content: "\ebab";
}
.people_outline:before {
  content: "\ebac";
}
.person:before {
  content: "\ebad";
}
.person_add:before {
  content: "\ebae";
}
.person_outlineperm_identity:before {
  content: "\ebaf";
}
.plus_one:before {
  content: "\ebb0";
}
.public:before {
  content: "\ebb1";
}
.school:before {
  content: "\ebb2";
}
.share:before {
  content: "\ebb3";
}
.whatshot:before {
  content: "\ebb4";
}
.sentiment_dissatisfied:before {
  content: "\ebb5";
}
.sentiment_neutral:before {
  content: "\ebb6";
}
.sentiment_satisfied:before {
  content: "\ebb7";
}
.sentiment_very_dissatisfied:before {
  content: "\ebb8";
}
.sentiment_very_satisfied:before {
  content: "\ebb9";
}
.thumb_down_alt:before {
  content: "\ebba";
}
.thumb_up_alt:before {
  content: "\ebbb";
}
.check_box:before {
  content: "\ebbc";
}
.check_box_outline_blank:before {
  content: "\ebbd";
}
.radio_button_checked:before {
  content: "\ebbe";
}
.stargrade:before {
  content: "\ebbf";
}
.star_half:before {
  content: "\ebc0";
}
.star_outline:before {
  content: "\ebc1";
}
.3d_rotation:before {
  content: "\ebc2";
}
.accessibility:before {
  content: "\ebc3";
}
.account_balance:before {
  content: "\ebc4";
}
.account_balance_wallet:before {
  content: "\ebc5";
}
.account_box:before {
  content: "\ebc6";
}
.account_circle:before {
  content: "\ebc7";
}
.add_shopping_cart:before {
  content: "\ebc8";
}
.alarm_off:before {
  content: "\ebc9";
}
.alarm_on:before {
  content: "\ebca";
}
.android:before {
  content: "\ebcb";
}
.announcement:before {
  content: "\ebcc";
}
.aspect_ratio:before {
  content: "\ebcd";
}
.assignment:before {
  content: "\ebce";
}
.assignment_ind:before {
  content: "\ebcf";
}
.assignment_late:before {
  content: "\ebd0";
}
.assignment_return:before {
  content: "\ebd1";
}
.assignment_returned:before {
  content: "\ebd2";
}
.assignment_turned_in:before {
  content: "\ebd3";
}
.autorenew:before {
  content: "\ebd4";
}
.bookclass:before {
  content: "\ebd5";
}
.bookmarkturned_in:before {
  content: "\ebd6";
}
.bookmark_outlineturned_in_not:before {
  content: "\ebd7";
}
.bug_report:before {
  content: "\ebd8";
}
.build:before {
  content: "\ebd9";
}
.cached:before {
  content: "\ebda";
}
.change_history:before {
  content: "\ebdb";
}
.check_circle:before {
  content: "\ebdc";
}
.chrome_reader_mode:before {
  content: "\ebdd";
}
.code:before {
  content: "\ebde";
}
.credit_cardpayment:before {
  content: "\ebdf";
}
.dashboard:before {
  content: "\ebe0";
}
.delete:before {
  content: "\ebe1";
}
.description:before {
  content: "\ebe2";
}
.dns:before {
  content: "\ebe3";
}
.done:before {
  content: "\ebe4";
}
.done_all:before {
  content: "\ebe5";
}
.exit_to_app:before {
  content: "\ebe6";
}
.explore:before {
  content: "\ebe7";
}
.extension:before {
  content: "\ebe8";
}
.face:before {
  content: "\ebe9";
}
.favorite:before {
  content: "\ebea";
}
.favorite_outline:before {
  content: "\ebeb";
}
.find_in_page:before {
  content: "\ebec";
}
.find_replace:before {
  content: "\ebed";
}
.flip_to_back:before {
  content: "\ebee";
}
.flip_to_front:before {
  content: "\ebef";
}
.group_work:before {
  content: "\ebf0";
}
.help:before {
  content: "\ebf1";
}
.highlight_remove:before {
  content: "\ebf2";
}
.historyrestore:before {
  content: "\ebf3";
}
.home:before {
  content: "\ebf4";
}
.hourglass_empty:before {
  content: "\ebf5";
}
.hourglass_full:before {
  content: "\ebf6";
}
.httpslock:before {
  content: "\ebf7";
}
.info:before {
  content: "\ebf8";
}
.info_outline:before {
  content: "\ebf9";
}
.input:before {
  content: "\ebfa";
}
.invert_colors_on:before {
  content: "\ebfb";
}
.label:before {
  content: "\ebfc";
}
.label_outline:before {
  content: "\ebfd";
}
.language:before {
  content: "\ebfe";
}
.launchopen_in_new:before {
  content: "\ebff";
}
.list:before {
  content: "\ec00";
}
.lock_open:before {
  content: "\ec01";
}
.lock_outline:before {
  content: "\ec02";
}
.loyalty:before {
  content: "\ec03";
}
.markunread_mailbox:before {
  content: "\ec04";
}
.note_add:before {
  content: "\ec05";
}
.open_in_browser:before {
  content: "\ec06";
}
.open_with:before {
  content: "\ec07";
}
.pageview:before {
  content: "\ec08";
}
.perm_camera_mic:before {
  content: "\ec09";
}
.perm_contact_calendar:before {
  content: "\ec0a";
}
.perm_data_setting:before {
  content: "\ec0b";
}
.perm_device_information:before {
  content: "\ec0c";
}
.perm_media:before {
  content: "\ec0d";
}
.perm_phone_msg:before {
  content: "\ec0e";
}
.perm_scan_wifi:before {
  content: "\ec0f";
}
.picture_in_picture:before {
  content: "\ec10";
}
.polymer:before {
  content: "\ec11";
}
.power_settings_new:before {
  content: "\ec12";
}
.receipt:before {
  content: "\ec13";
}
.redeemcard_giftcard:before {
  content: "\ec14";
}
.search:before {
  content: "\ec15";
}
.settings:before {
  content: "\ec16";
}
.settings_applications:before {
  content: "\ec17";
}
.settings_backup_restore:before {
  content: "\ec18";
}
.settings_bluetooth:before {
  content: "\ec19";
}
.settings_cell:before {
  content: "\ec1a";
}
.settings_brightness:before {
  content: "\ec1b";
}
.settings_ethernet:before {
  content: "\ec1c";
}
.settings_input_antenna:before {
  content: "\ec1d";
}
.settings_input_componentsettings_input_composite:before {
  content: "\ec1e";
}
.settings_input_hdmi:before {
  content: "\ec1f";
}
.settings_input_svideo:before {
  content: "\ec20";
}
.settings_overscan:before {
  content: "\ec21";
}
.settings_phone:before {
  content: "\ec22";
}
.settings_power:before {
  content: "\ec23";
}
.settings_remote:before {
  content: "\ec24";
}
.settings_voice:before {
  content: "\ec25";
}
.shop:before {
  content: "\ec26";
}
.shop_two:before {
  content: "\ec27";
}
.shopping_basket:before {
  content: "\ec28";
}
.speaker_notes:before {
  content: "\ec29";
}
.spellcheck:before {
  content: "\ec2a";
}
.stars:before {
  content: "\ec2b";
}
.subject:before {
  content: "\ec2c";
}
.supervisor_account:before {
  content: "\ec2d";
}
.swap_horiz:before {
  content: "\ec2e";
}
.swap_vert:before {
  content: "\ec2f";
}
.swap_vertical_circle:before {
  content: "\ec30";
}
.system_update_alt:before {
  content: "\ec31";
}
.tab:before {
  content: "\ec32";
}
.tab_unselected:before {
  content: "\ec33";
}
.thumb_down:before {
  content: "\ec34";
}
.thumb_up:before {
  content: "\ec35";
}
.thumbs_up_down:before {
  content: "\ec36";
}
.toc:before {
  content: "\ec37";
}
.today:before {
  content: "\ec38";
}
.toll:before {
  content: "\ec39";
}
.track_changes:before {
  content: "\ec3a";
}
.translate:before {
  content: "\ec3b";
}
.trending_down:before {
  content: "\ec3c";
}
.trending_neutral:before {
  content: "\ec3d";
}
.trending_up:before {
  content: "\ec3e";
}
.verified_user:before {
  content: "\ec3f";
}
.view_agenda:before {
  content: "\ec40";
}
.view_array:before {
  content: "\ec41";
}
.view_carousel:before {
  content: "\ec42";
}
.view_column:before {
  content: "\ec43";
}
.view_day:before {
  content: "\ec44";
}
.view_headline:before {
  content: "\ec45";
}
.view_list:before {
  content: "\ec46";
}
.view_module:before {
  content: "\ec47";
}
.view_quilt:before {
  content: "\ec48";
}
.view_stream:before {
  content: "\ec49";
}
.view_week:before {
  content: "\ec4a";
}
.visibility_off:before {
  content: "\ec4b";
}
.card_membership:before {
  content: "\ec4c";
}
.card_travel:before {
  content: "\ec4d";
}
.work:before {
  content: "\ec4e";
}
.youtube_searched_for:before {
  content: "\ec4f";
}
.eject:before {
  content: "\ec50";
}
.camera_enhance:before {
  content: "\ec51";
}
.help_outline:before {
  content: "\ec52";
}
.reorder:before {
  content: "\ec53";
}
.zoom_in:before {
  content: "\ec54";
}
.zoom_out:before {
  content: "\ec55";
}
.http:before {
  content: "\ec56";
}
.event_seat:before {
  content: "\ec57";
}
.flight_land:before {
  content: "\ec58";
}
.flight_takeoff:before {
  content: "\ec59";
}
.play_for_work:before {
  content: "\ec5a";
}
.gif:before {
  content: "\ec5b";
}
.indeterminate_check_box:before {
  content: "\ec5c";
}
.offline_pin:before {
  content: "\ec5d";
}
.all_out:before {
  content: "\ec5e";
}
.copyright:before {
  content: "\ec5f";
}
.fingerprint:before {
  content: "\ec60";
}
.gavel:before {
  content: "\ec61";
}
.lightbulb_outline:before {
  content: "\ec62";
}
.picture_in_picture_alt:before {
  content: "\ec63";
}
.important_devices:before {
  content: "\ec64";
}
.touch_app:before {
  content: "\ec65";
}
.accessible:before {
  content: "\ec66";
}
.compare_arrows:before {
  content: "\ec67";
}
.date_range:before {
  content: "\ec68";
}
.donut_large:before {
  content: "\ec69";
}
.donut_small:before {
  content: "\ec6a";
}
.line_style:before {
  content: "\ec6b";
}
.line_weight:before {
  content: "\ec6c";
}
.motorcycle:before {
  content: "\ec6d";
}
.opacity:before {
  content: "\ec6e";
}
.pets:before {
  content: "\ec6f";
}
.pregnant_woman:before {
  content: "\ec70";
}
.record_voice_over:before {
  content: "\ec71";
}
.rounded_corner:before {
  content: "\ec72";
}
.rowing:before {
  content: "\ec73";
}
.timeline:before {
  content: "\ec74";
}
.update:before {
  content: "\ec75";
}
.watch_later:before {
  content: "\ec76";
}
.pan_tool:before {
  content: "\ec77";
}
.euro_symbol:before {
  content: "\ec78";
}
.g_translate:before {
  content: "\ec79";
}
.remove_shopping_cart:before {
  content: "\ec7a";
}
.restore_page:before {
  content: "\ec7b";
}
.speaker_notes_off:before {
  content: "\ec7c";
}
.delete_forever:before {
  content: "\ec7d";
}
.accessibility_new:before {
  content: "\ec7e";
}
.check_circle_outline:before {
  content: "\ec7f";
}
.delete_outline:before {
  content: "\ec80";
}
.done_outline:before {
  content: "\ec81";
}
.maximize:before {
  content: "\ec82";
}
.minimize:before {
  content: "\ec83";
}
.offline_bolt:before {
  content: "\ec84";
}
.swap_horizontal_circle:before {
  content: "\ec85";
}
.accessible_forward:before {
  content: "\ec86";
}
.calendar_today:before {
  content: "\ec87";
}
.calendar_view_day:before {
  content: "\ec88";
}
.label_important:before {
  content: "\ec89";
}
.restore_from_trash:before {
  content: "\ec8a";
}
.supervised_user_circle:before {
  content: "\ec8b";
}
.text_rotate_up:before {
  content: "\ec8c";
}
.text_rotate_vertical:before {
  content: "\ec8d";
}
.text_rotation_angledown:before {
  content: "\ec8e";
}
.text_rotation_angleup:before {
  content: "\ec8f";
}
.text_rotation_down:before {
  content: "\ec90";
}
.text_rotation_none:before {
  content: "\ec91";
}
.commute:before {
  content: "\ec92";
}
.arrow_right_alt:before {
  content: "\ec93";
}
.work_off:before {
  content: "\ec94";
}
.work_outline:before {
  content: "\ec95";
}
.drag_indicator:before {
  content: "\ec96";
}
.horizontal_split:before {
  content: "\ec97";
}
.label_important_outline:before {
  content: "\ec98";
}
.vertical_split:before {
  content: "\ec99";
}
.voice_over_off:before {
  content: "\ec9a";
}
.segment:before {
  content: "\ec9b";
}
.contact_support:before {
  content: "\ec9c";
}
.compress:before {
  content: "\ec9d";
}
.filter_list_alt:before {
  content: "\ec9e";
}
.expand:before {
  content: "\ec9f";
}
.edit_off:before {
  content: "\eca0";
}
.10k:before {
  content: "\eca1";
}
.10mp:before {
  content: "\eca2";
}
.11mp:before {
  content: "\eca3";
}
.12mp:before {
  content: "\eca4";
}
.13mp:before {
  content: "\eca5";
}
.14mp:before {
  content: "\eca6";
}
.15mp:before {
  content: "\eca7";
}
.16mp:before {
  content: "\eca8";
}
.17mp:before {
  content: "\eca9";
}
.18mp:before {
  content: "\ecaa";
}
.19mp:before {
  content: "\ecab";
}
.1k:before {
  content: "\ecac";
}
.1k_plus:before {
  content: "\ecad";
}
.20mp:before {
  content: "\ecae";
}
.21mp:before {
  content: "\ecaf";
}
.22mp:before {
  content: "\ecb0";
}
.23mp:before {
  content: "\ecb1";
}
.24mp:before {
  content: "\ecb2";
}
.2k:before {
  content: "\ecb3";
}
.2k_plus:before {
  content: "\ecb4";
}
.2mp:before {
  content: "\ecb5";
}
.3k:before {
  content: "\ecb6";
}
.3k_plus:before {
  content: "\ecb7";
}
.3mp:before {
  content: "\ecb8";
}
.4k_plus:before {
  content: "\ecb9";
}
.4mp:before {
  content: "\ecba";
}
.5k:before {
  content: "\ecbb";
}
.5k_plus:before {
  content: "\ecbc";
}
.5mp:before {
  content: "\ecbd";
}
.6k:before {
  content: "\ecbe";
}
.6k_plus:before {
  content: "\ecbf";
}
.6mp:before {
  content: "\ecc0";
}
.7k:before {
  content: "\ecc1";
}
.7k_plus:before {
  content: "\ecc2";
}
.7mp:before {
  content: "\ecc3";
}
.8k:before {
  content: "\ecc4";
}
.8k_plus:before {
  content: "\ecc5";
}
.8mp:before {
  content: "\ecc6";
}
.9k:before {
  content: "\ecc7";
}
.9k_plus:before {
  content: "\ecc8";
}
.9mp:before {
  content: "\ecc9";
}
.account_tree:before {
  content: "\ecca";
}
.add_chart:before {
  content: "\eccb";
}
.add_ic_call:before {
  content: "\eccc";
}
.add_moderator:before {
  content: "\eccd";
}
.all_inbox:before {
  content: "\ecce";
}
.approval:before {
  content: "\eccf";
}
.assistant_direction:before {
  content: "\ecd0";
}
.assistant_navigation:before {
  content: "\ecd1";
}
.bookmarks:before {
  content: "\ecd2";
}
.bus_alert:before {
  content: "\ecd3";
}
.cases:before {
  content: "\ecd4";
}
.circle_notifications:before {
  content: "\ecd5";
}
.closed_caption_off:before {
  content: "\ecd6";
}
.connected_tv:before {
  content: "\ecd7";
}
.dangerous:before {
  content: "\ecd8";
}
.dashboard_customize:before {
  content: "\ecd9";
}
.desktop_access_disabled:before {
  content: "\ecda";
}
.drive_file_move_outline:before {
  content: "\ecdb";
}
.drive_file_rename_outline:before {
  content: "\ecdc";
}
.drive_folder_upload:before {
  content: "\ecdd";
}
.duo:before {
  content: "\ecde";
}
.explore_off:before {
  content: "\ecdf";
}
.file_download_done:before {
  content: "\ece0";
}
.rtt:before {
  content: "\ece1";
}
.grid_view:before {
  content: "\ece2";
}
.hail:before {
  content: "\ece3";
}
.home_filled:before {
  content: "\ece4";
}
.imagesearch_roller:before {
  content: "\ece5";
}
.label_off:before {
  content: "\ece6";
}
.library_add_check:before {
  content: "\ece7";
}
.logout:before {
  content: "\ece8";
}
.margin:before {
  content: "\ece9";
}
.mark_as_unread:before {
  content: "\ecea";
}
.menu_open:before {
  content: "\eceb";
}
.mp:before {
  content: "\ecec";
}
.offline_share:before {
  content: "\eced";
}
.padding:before {
  content: "\ecee";
}
.panorama_photosphere:before {
  content: "\ecef";
}
.panorama_photosphere_select:before {
  content: "\ecf0";
}
.person_add_disabled:before {
  content: "\ecf1";
}
.phone_disabled:before {
  content: "\ecf2";
}
.phone_enabled:before {
  content: "\ecf3";
}
.pivot_table_chart:before {
  content: "\ecf4";
}
.print_disabled:before {
  content: "\ecf5";
}
.railway_alert:before {
  content: "\ecf6";
}
.recommend:before {
  content: "\ecf7";
}
.remove_done:before {
  content: "\ecf8";
}
.remove_moderator:before {
  content: "\ecf9";
}
.repeat_on:before {
  content: "\ecfa";
}
.repeat_one_on:before {
  content: "\ecfb";
}
.replay_circle_filled:before {
  content: "\ecfc";
}
.reset_tv:before {
  content: "\ecfd";
}
.sd:before {
  content: "\ecfe";
}
.shield:before {
  content: "\ecff";
}
.shuffle_on:before {
  content: "\ed00";
}
.speed:before {
  content: "\ed01";
}
.stacked_bar_chart:before {
  content: "\ed02";
}
.stream:before {
  content: "\ed03";
}
.swipe:before {
  content: "\ed04";
}
.switch_account:before {
  content: "\ed05";
}
.tag:before {
  content: "\ed06";
}
.thumb_down_off_alt:before {
  content: "\ed07";
}
.thumb_up_off_alt:before {
  content: "\ed08";
}
.toggle_off:before {
  content: "\ed09";
}
.toggle_on:before {
  content: "\ed0a";
}
.two_wheeler:before {
  content: "\ed0b";
}
.upload_file:before {
  content: "\ed0c";
}
.view_in_ar:before {
  content: "\ed0d";
}
.waterfall_chart:before {
  content: "\ed0e";
}
.wb_shade:before {
  content: "\ed0f";
}
.wb_twighlight:before {
  content: "\ed10";
}
.home_work:before {
  content: "\ed11";
}
.schedule_send:before {
  content: "\ed12";
}
.bolt:before {
  content: "\ed13";
}
.send_and_archive:before {
  content: "\ed14";
}
.workspaces_filled:before {
  content: "\ed15";
}
.file_present:before {
  content: "\ed16";
}
.workspaces_outline:before {
  content: "\ed17";
}
.fit_screen:before {
  content: "\ed18";
}
.saved_search:before {
  content: "\ed19";
}
.storefront:before {
  content: "\ed1a";
}
.amp_stories:before {
  content: "\ed1b";
}
.dynamic_feed:before {
  content: "\ed1c";
}
.euro:before {
  content: "\ed1d";
}
.height:before {
  content: "\ed1e";
}
.policy:before {
  content: "\ed1f";
}
.sync_alt:before {
  content: "\ed20";
}
.menu_book:before {
  content: "\ed21";
}
.emoji_flags:before {
  content: "\ed22";
}
.emoji_food_beverage:before {
  content: "\ed23";
}
.emoji_nature:before {
  content: "\ed24";
}
.emoji_people:before {
  content: "\ed25";
}
.emoji_symbols:before {
  content: "\ed26";
}
.emoji_transportation:before {
  content: "\ed27";
}
.post_add:before {
  content: "\ed28";
}
.people_alt:before {
  content: "\ed29";
}
.emoji_emotions:before {
  content: "\ed2a";
}
.emoji_events:before {
  content: "\ed2b";
}
.emoji_objects:before {
  content: "\ed2c";
}
.sports_basketball:before {
  content: "\ed2d";
}
.sports_cricket:before {
  content: "\ed2e";
}
.sports_esports:before {
  content: "\ed2f";
}
.sports_football:before {
  content: "\ed30";
}
.sports_golf:before {
  content: "\ed31";
}
.sports_hockey:before {
  content: "\ed32";
}
.sports_mma:before {
  content: "\ed33";
}
.sports_motorsports:before {
  content: "\ed34";
}
.sports_rugby:before {
  content: "\ed35";
}
.sports_soccer:before {
  content: "\ed36";
}
.sports:before {
  content: "\ed37";
}
.sports_volleyball:before {
  content: "\ed38";
}
.sports_tennis:before {
  content: "\ed39";
}
.sports_handball:before {
  content: "\ed3a";
}
.sports_kabaddi:before {
  content: "\ed3b";
}
.eco:before {
  content: "\ed3c";
}
.museum:before {
  content: "\ed3d";
}
.flip_camera_android:before {
  content: "\ed3e";
}
.flip_camera_ios:before {
  content: "\ed3f";
}
.cancel_schedule_send:before {
  content: "\ed40";
}
.apartment:before {
  content: "\ed41";
}
.bathtub:before {
  content: "\ed42";
}
.deck:before {
  content: "\ed43";
}
.fireplace:before {
  content: "\ed44";
}
.house:before {
  content: "\ed45";
}
.king_bed:before {
  content: "\ed46";
}
.nights_stay:before {
  content: "\ed47";
}
.outdoor_grill:before {
  content: "\ed48";
}
.single_bed:before {
  content: "\ed49";
}
.square_foot:before {
  content: "\ed4a";
}
.double_arrow:before {
  content: "\ed4b";
}
.sports_baseball:before {
  content: "\ed4c";
}
.attractions:before {
  content: "\ed4d";
}
.bakery_dining:before {
  content: "\ed4e";
}
.breakfast_dining:before {
  content: "\ed4f";
}
.car_rental:before {
  content: "\ed50";
}
.car_repair:before {
  content: "\ed51";
}
.dinner_dining:before {
  content: "\ed52";
}
.dry_cleaning:before {
  content: "\ed53";
}
.hardware:before {
  content: "\ed54";
}
.liquor:before {
  content: "\ed55";
}
.lunch_dining:before {
  content: "\ed56";
}
.nightlife:before {
  content: "\ed57";
}
.park:before {
  content: "\ed58";
}
.ramen_dining:before {
  content: "\ed59";
}
.celebration:before {
  content: "\ed5a";
}
.theater_comedy:before {
  content: "\ed5b";
}
.badge:before {
  content: "\ed5c";
}
.festival:before {
  content: "\ed5d";
}
.icecream:before {
  content: "\ed5e";
}
.volunteer_activism:before {
  content: "\ed5f";
}
.contactless:before {
  content: "\ed60";
}
.delivery_dining:before {
  content: "\ed61";
}
.brunch_dining:before {
  content: "\ed62";
}
.takeout_dining:before {
  content: "\ed63";
}
.ac_unit:before {
  content: "\ed64";
}
.airport_shuttle:before {
  content: "\ed65";
}
.all_inclusive:before {
  content: "\ed66";
}
.beach_access:before {
  content: "\ed67";
}
.business_center:before {
  content: "\ed68";
}
.casino:before {
  content: "\ed69";
}
.child_care:before {
  content: "\ed6a";
}
.child_friendly:before {
  content: "\ed6b";
}
.fitness_center:before {
  content: "\ed6c";
}
.golf_course:before {
  content: "\ed6d";
}
.hot_tub:before {
  content: "\ed6e";
}
.kitchen:before {
  content: "\ed6f";
}
.pool:before {
  content: "\ed70";
}
.room_service:before {
  content: "\ed71";
}
.smoke_free:before {
  content: "\ed72";
}
.smoking_rooms:before {
  content: "\ed73";
}
.spa:before {
  content: "\ed74";
}
.no_meeting_room:before {
  content: "\ed75";
}
.meeting_room:before {
  content: "\ed76";
}
.goat:before {
  content: "\ed77";
}
